<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php">
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="DATABASE_URL" value="mysql://root:root@127.0.0.1:8889/BilleterieHavre?charset=utf8mb4" force="true"/>
        <server name="SYMFONY_DOTENV_VARS_PATH" value=".env.test.local"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests/controller</directory>
        </testsuite>
        <testsuite name="Project Test Suite">
            <directory>tests/entity</directory>
        </testsuite>
    </testsuites>

    <extensions>
    </extensions>
</phpunit>
